.contenedor 
{
    background-color: rgb(8, 79, 100);
    padding: 10px;
    font-size: 30px;
    display: grid;
    grid-gap: 10px;
    text-align: center;
   
    grid-template-columns: 3fr 8fr 3fr;
    grid-template-rows: 2fr 14fr 2fr;
    grid-template-areas: "header ";
}
.contenedor>div
{
    background-color: greenyellow;
}

.contenedor .a1
{
    background-color: rgb(89, 160, 201);
    grid-column: 1/4;
}

.contenedor .a2
{
    background-color: burlywood;
    grid-column: 1/1;
    grid-template-rows: 1fr 2fr 2fr;
    font-size: 15px;
}
.a2 .side1
{
    background-color: rgb(194, 161, 117);
}

.a2 .side2
{
    background-color: rgb(124, 67, 61);
}
.a2 .side3
{
    background-color: azure;
}



.contenedor .a3
{
    background-color: slategrey;
    grid-column: 2/3;
}

.contenedor .a4
{
    background-color: burlywood;
    grid-column: 3/4;
    font-size: 15px;
}

.contenedor .a5
{
    background-color: rgb(89, 160, 201);
    grid-column: 1/4;
    text-align: end;
    font-size: 20px;
}


.a2 
{
    display: grid;
    grid-gap: 5px;
    font-size: 15px;
}

.a3
{
    display: grid;
    grid-gap: 5px;
    font-size: 20px;
    grid-template-rows: 1fr 3fr;
}



.a3 .texto1
{
    background-color: rgb(67, 111, 155);
    grid-column: 1/4;
}

.a3 .texto2
{
    background-color: coral;
    grid-column: 1/1;
}

.a3 .texto3
{
    background-color: thistle;
    grid-column: 2/3;
}

.a3 .texto4
{
    background-color: darkseagreen;
    grid-column: 3/3;
}